venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
.env
*.key
.vscode/
*.swp
*.log
*.db
*.sqlite
erasmo.mora_tarea-final-1.py
erasmo.mora_tarea-final.ipynb
erasmo.mora_tarea-final.py
final-2.py
final-3.py
final-4.py
lcf_annual.csv
lcf_proxy.csv